/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    overflow-x: hidden;
}

h1 {
    margin: 1.25rem 0;
}

/* Container para os formulários e QR codes */
form, #qr-code-container {
    width: 80%;
    max-width: 37.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.25rem;
}

button {
    padding: .625rem 1.25rem;
    margin: .625rem;
    border: none;
    background: #007bff;
    color: #fff;
    border-radius: .3125rem;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    max-width: 25rem;
    text-align: center;
}

button:hover {
    background: #0056b3;
}

/* Container para QR codes */
#qr-code-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.25rem;
}

#qr-code-container img {
    margin: .625rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    display: flex;
    justify-content: center;
    margin: .625rem 0;
    border: #333;
    border-style: outset;
    padding:.8rem;
    width:100%;
    border-radius: .3rem;
}

ul li:hover{
    color:#0056b3
}

/*INPUT SENHA OWNER*/
/* CSS */
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.25rem;
}

.password-input {
    padding: .625rem;
    margin-bottom: .625rem;
    width: 100%;
    max-width: 18.75rem;
    border: .0625rem solid #ccc;
    border-radius: .3125rem;
    font-size: 1rem;
    box-sizing: border-box; /* Garante que o padding não aumente o tamanho total */
    outline: none;
}

.login-button {
    padding: .625rem 1.25rem;
    margin: .625rem;
    width: 100%;
    max-width: 18.75rem;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: .3125rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #0056b3;
}

/* Modal de confirmação */
#modal.hidden, #countdown-modal.hidden, #playing-message.hidden {
    display: none;
}

#modal, #countdown-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#modal-content, #countdown-content {
    background: #fff;
    padding: 1.25rem;
    border-radius: .3125rem;
    text-align: center;
    position: relative;
    width: 80%;
    max-width: 25rem;
}

#search-container {
    position: sticky;
    top: 0;
    background-color: #f4f4f4;
    padding: .625rem 0;
    width: 100%;
    max-width: 37.5rem;
    display: flex;
    align-items: center;
    z-index: 100;
}

#search-input {
    flex: 1;
    padding: .625rem;
    font-size: 1rem;
    border: .0625rem solid #ddd;
    border-radius: .3125rem 0 0 .3125rem;
    outline: none;
}

#search-button {
    padding: .625rem 1.25rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0 .3125rem .3125rem 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

#search-button:hover {
    background-color: #0056b3;
}

#countdown-container {
    position: relative;
    width: 7.5rem;
    height: 7.5rem;
    margin: 0 auto;
}

#countdown {
    font-size: 4em;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#countdown-progress {
    position: relative;
    width: 100%;
    height: 100%;
}

#countdown-progress .progress-circle {
    fill: none;
    stroke-width: 10;
    stroke-linecap: round;
    transform: rotate(-90deg);
    transform-origin: center;
}

#countdown-progress .progress-bar {
    stroke: #28a745;
    transition: stroke 1s linear, stroke-dashoffset 1s linear;
}

#countdown-progress .progress-bar.red {
    stroke: #dc3545;
}
